language: php

sudo: false

branches:
  except:
    - release

branches:
  only:
    - master
    - develop

php:
  - 7.0
  - 7.1
  - 7.3
  - nightly

matrix:
  allow_failures:
    - php: nightly
  include:
    - os: linux
      dist: trusty
      language: php
      php: 5.4

addons:
  apt:
    packages:
    - devscripts
    - debhelper
    - pkg-config
    - alien
    - rpm
    - dh-make

services:
  - mysql
  - memcached

before_install:
  - composer self-update
  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;
  - if [ -n "$GH_USER" ]; then git config --global github.user ${GH_USER}; fi;
  - if [ -n "$GH_TOKEN" ]; then git config --global github.token ${GH_TOKEN}; fi;
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then pecl channel-update pecl.php.net; fi;
  - if [ "$TRAVIS_PHP_VERSION" = "7.2" ]; then printf "yes\n" | pecl install -f apcu-5.1.3; fi;
  - if [ "$TRAVIS_PHP_VERSION" = "5.3" ]; then echo "extension = apc.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; fi
  - echo 'apc.enable_cli=1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

before_script:
  - mysql -uroot -e 'CREATE DATABASE IF NOT EXISTS testrest_test;'
  - mysql -uroot -e 'GRANT ALL ON testrest_test.* TO '\''testrest'\''@'\''%'\'' IDENTIFIED BY '\''testrest'\'';'
  - mysql -uroot -e 'FLUSH PRIVILEGES;'
  - composer install --no-interaction
  - if [ "$TRAVIS_PHP_VERSION" = "7.2" ]; then composer require php-coveralls/php-coveralls --no-interaction; fi

script:
  - make qa_all
  - make report

after_failure:
  - cat ./target/logs/junit.xml
  - cat ./target/report/phpcpd.txt

after_success:
  - cat ./target/report/phploc.txt
  - cat ./target/report/phpcompatinfo.txt
  - "echo 'coverage_clover: target/coverage/coverage.xml' >> .coveralls.yml"
  - "echo 'json_path: target/coverage/coveralls-upload.json' >> .coveralls.yml"
  - if [ "$TRAVIS_PHP_VERSION" = "7.2" ]; then php vendor/php-coveralls/php-coveralls/bin/php-coveralls -v; fi;
